div.user
{
    display: flex;
    margin-left: 26%;
}

.user button.option_1
{
    border-left: 4px solid black;
}

button
{
    border: 4px solid black;
    border-left: none;
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

img
{
width:200px;
height:200px;
}

div.computer
{
    border: 5px solid black;
    margin:30px;
    margin-left: 35%;
    margin-right: 35%;
    height:300px
}

img.think
{
width: 80%;
height: 75%;
padding: 15px;
padding-left: 45px;
}

p#vis_invis
{
justify-content: center;
align-items: center;
}

.label:active
{
    transform: scale(0.8);
}

.label
{
    transition: transform 0.2s ease;
}

.user img{
    pointer-events: none;
}

.computer img
{
transition: opacity 0.4s ease;
}

#result p
{
    display: flex;
    text-align: center;
    justify-items:center;
    font-size: 30px;
    color: rgb(211, 141, 29);
    font-weight: bold;
    margin-left: 40%;
    margin-top: 20px;
}