div.greeting{
    justify-items: center;
    text-align: center;
    font-weight: bold;
    color: blueviolet;
    font-family: 'Comic Sans MS';
    font-size: 30px;
}

div.game-area{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    height: 400px;
    margin-left: 20%;
    margin-right: 20%;
}

div.row1{
    border: 3px solid black;
    border-bottom: none;
    display: flex;
    flex: 1 1 0;
    min-height: 0;
}

div.row2{
    border: 3px solid black;
    display: flex;
    flex: 1 1 0;
    min-height: 0;
}

div.row3{
    border: 3px solid black;
    border-top: none;
    display: flex;
    flex: 1 1 0;
    min-height: 0;
}

.response.button{
    display: flex;
    flex: 1;
    transition: transform 0.4s ease, background-color 0.3s ease-in;
}

.button:hover{
    transform:scale(0.95);
    background-color:cyan;
}

button{
    flex:1;
    overflow: hidden;
    min-height: 0;
}

button img{
    object-fit: contain;
    width: 100%;
    height: 100%;
    display: block;
}
#Bottom{
    text-align: center;
    font-weight: bold;
}